* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background: #141414;
    color: #fff;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgBox {
    position: relative;
    width: 600px;
    height: 400px;
    background-size: cover;
    border: 2px solid #fff;
    overflow: hidden;
}

.imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: 0.5s ease;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: translateX(-100%) scale(1) skew(-45deg);
    transition: 0.5s ease;
}

.content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px 50px;
    text-align: center;
}

.content h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
    transform: translateY(-100%) scale(0);
    transition: 0.5s ease-in-out;
}

.content p {
    font-size: 1em;
    transform: scale(3);
    transition: 0.5s ease;
    opacity: 0;
}

.imgBox:hover .content h1 {
    transform: translateY(0) scale(1);
}

.imgBox:hover .content p {
    transform: scale(1);
    opacity: 1;
}

.imgBox:hover img {
    transform: scale(2);
}

.imgBox:hover .container::before {
    opacity: 1;
    transform: translateX(0) scale(1) skew(-45deg);
    background: rgba(82, 4, 4, 0.5);
    backdrop-filter: blur(10px);
}
